spikeinterface>=0.101.0
dandi>=0.62.4
dandischema>=0.10.2
nwbwidgets==0.11.3
nwbinspector>=0.4.33
ndx-events==0.2.0
tdt==0.6.5
PyYAML==6.0.1
openpyxl==3.1.2
pandas>=2.2.0
opencv-python-headless
neuroconv==0.6.0
ndx-fiber-photometry==0.1.0
